
<ion-header>

  <ion-navbar>
    <ion-buttons end>
      <button *ngIf="page == 'Payouts'">
        <ion-icon name="ios-add-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="page" color="primary">
      <ion-segment-button value="Balance">
        Guthaben
      </ion-segment-button>
      <ion-segment-button value="Deposit">
        Einzahlung
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-grid *ngIf="page == 'Deposit'">
    <ion-spinner *ngIf="!transferListLoaded"></ion-spinner>
    <ion-list *ngIf="transferListLoaded">
      <div *ngIf="depositList && depositList .length > 0">
      <ion-item *ngFor="let deposit of depositList ">
        <ion-icon color="primary" name="ios-arrow-round-up-outline" item-start></ion-icon>
        <ion-label>
          <span class="amount">{{ deposit.amount / 100 | currency : "EUR" : 1 }}</span>
          <span class="date">{{ deposit.created * 1000 | date:'dd.MM.yyyy'}}</span>

        </ion-label>

      </ion-item>
      </div>
      <div class="text-no-content" *ngIf="!depositList">
        <div>
          <span><ion-icon name="ios-alert-outline"></ion-icon></span>
          <span>Es wurden keine Überweisungen getätigt</span>
        </div>
      </div>
    </ion-list>
    <div class="btn-container">
      <button ion-button block color="blue" (click)="goToCreateDeposit()">
        <span>Einzahlen</span>
      </button>
    </div>
  </ion-grid>


  <ion-grid class="transfer-list" *ngIf="page == 'Balance'">
    <ion-spinner *ngIf="!transferListLoaded"></ion-spinner>
    <ion-list *ngIf="transferListLoaded">
      <ion-item>
        <div item-start>Ausstehender Betrag</div>
        <div item-content>{{ pendingBalance / 100 || 0 | currency : "EUR" : 1 }}</div>
      </ion-item>
      <ion-grid>
        <ion-row class="center-text">
          <h1>{{ availableBalance / 100 || 0 | currency : "EUR" : 1 }}</h1>
        </ion-row>
        <ion-row class="center-text" padding-bottom>
          <div>Verfügbares Guthaben</div>
        </ion-row>

        <button ion-button (click)="payout()">Auszahlen</button>
      </ion-grid>
      <ion-item>
      </ion-item>
      <ion-item detail-push class="bank-details" *ngIf="bankAccountDetailsLoaded && bankAccountData">
        <div>{{ bankAccountData.account_holder_name }}</div>
        <div>{{ bankAccountData.bank_name }}</div>
        <div>****{{ bankAccountData.last4 }}</div>
      </ion-item>
      <ion-item class="add-bankaccount" *ngIf="bankAccountDetailsLoaded && !bankAccountData">
        <div>Du hast noch kein Bankkonto hinzugefügt um Guthaben an dein
          Konto auszahlen zu können</div>
        <button ion-button outline (click)="goToAddBankAccount()">Bankkonto hinzufügen</button>
      </ion-item>
    </ion-list>
  </ion-grid>

</ion-content>
