page-register {
  button[ion-button] {
    background-color: #80CBC4 !important;
  }
  .button {
    width: 80%;
    margin-top: 35px !important;
  }
  .scroll-content {
    padding-top: 40% !important;
  }
}
