// Tabbar
// --------------------------------------------------

.tabbar {
  padding: 2px 0;
  background-color: #ffffff !important;
  border-top: .55px solid #c8c7cc !important;
}

// Tab Icons
// --------------------------------------------------

.tab-button[aria-selected="true"] {
  .tab-button-text {
    color: #56CCF2 !important;
  }
}

.tabs-md .tab-button[aria-selected=true] .tab-button-icon,
.tabs-md .tab-button[aria-selected=true] .tab-button-text {
  transform: none !important;
}

.tab-button-text {
  text-transform: uppercase !important;
  font-weight:700 !important;
  letter-spacing:0.4px !important;
  color:  rgb(102, 117, 127) !important;
  font-size: 9px !important;
  margin-top: -2px !important;
}

.tab-button {
  min-height:45px !important;

  ion-icon {
    min-width: 30px !important;
  }
}

.tab-button-icon:before {
  transition: .3s all;
  display: block;
  width: 30px;
  height:30px;
  margin: 0 auto;
}

.tab-button[aria-selected="true"] {
  .ion-md-wallet:before,
  .ion-ios-wallet:before,
  .ion-ios-wallet-outline:before {
    content: url('../assets/icon/wallet.svg');
  }
  
  .ion-md-events:before,
  .ion-ios-events:before,
  .ion-ios-events-outline:before {
    content: url('../assets/icon/calendar.svg');
  }
  
  .ion-md-profile:before,
  .ion-ios-profile:before,
  .ion-ios-profile-outline:before {
    content: url('../assets/icon/user.svg');
  }
  
  .ion-md-penalties:before,
  .ion-ios-penalties:before,
  .ion-ios-penalties-outline:before {
    content: url('../assets/icon/referee.svg');
  }
  
  .ion-md-debt:before,
  .ion-ios-debt:before,
  .ion-ios-debt-outline:before {
    content: url('../assets/icon/list.svg');
  }
  
  .ion-md-list:before,
  .ion-ios-list:before,
  .ion-ios-list-outline:before {
    content: url('../assets/icon/message.svg');
  }
}

.ion-md-wallet:before,
.ion-ios-wallet:before,
.ion-ios-wallet-outline:before {
  content: url('../assets/icon/wallet_unselec.svg');
}

.ion-md-events:before,
.ion-ios-events:before,
.ion-ios-events-outline:before {
  content: url('../assets/icon/calendar_unselec.svg');
}

.ion-md-profile:before,
.ion-ios-profile:before,
.ion-ios-profile-outline:before {
  content: url('../assets/icon/user_unselec.svg');
}

.ion-md-penalties:before,
.ion-ios-penalties:before,
.ion-ios-penalties-outline:before {
  content: url('../assets/icon/referee_unselec.svg');
}

.ion-md-debt:before,
.ion-ios-debt:before,
.ion-ios-debt-outline:before {
  content: url('../assets/icon/list.svg');
}

.ion-md-list:before,
.ion-ios-list:before,
.ion-ios-list-outline:before {
  content: url('../assets/icon/message_unselec.svg');
}
