// Tabbar
// --------------------------------------------------

.tabbar {
  padding: 2px 0;
  background-color: #ffffff !important;
  box-shadow: -2px 1px 2px 3px rgba(0, 0, 0, 0.11);
}

// Tab Icons
// --------------------------------------------------

.tab-button[aria-selected="true"] {
  .tab-button-text {
    color: $font-grey !important;
  }
}

.tab-button-text {
  text-transform: capitalize !important;
  font-weight:400 !important;
  letter-spacing:0.4px !important;
  color: $logo-grey !important;
  font-size: 11px !important;
  margin-top: -2px !important;
}

.tab-button {
  min-height:45px !important;
}

.tab-button-icon:before {
  display: block;
  width: 22px;
  height:22px;
  margin: auto;
}

.ion-md-wallet:before,
.ion-ios-wallet:before,
.ion-ios-wallet-outline:before {
  content: url('../assets/icon/wallet.svg');
}

.ion-md-events:before,
.ion-ios-events:before,
.ion-ios-events-outline:before {
  content: url('../assets/icon/calendar.svg');
}

.ion-md-profile:before,
.ion-ios-profile:before,
.ion-ios-profile-outline:before {
  content: url('../assets/icon/user.svg');
}

.ion-md-penalties:before,
.ion-ios-penalties:before,
.ion-ios-penalties-outline:before {
  content: url('../assets/icon/referee.svg');
}

.ion-md-debt:before,
.ion-ios-debt:before,
.ion-ios-debt-outline:before {
  content: url('../assets/icon/list.svg');
}
