<!--
  Generated template for the DebtPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Pinnwand</ion-title>
    <ion-buttons end>
      <button (click)="getBoardMessages()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item *ngFor="let message of boardMessages">
      <div class="timestamp">{{ message.timestamp |  date:'d MMMM yy' }}</div>
      {{ message.message }}
      <div class="timestamp">{{ message.timestamp |  date:'H:mm' }}</div>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer *ngIf="userData.admin">
  <ion-textarea [(ngModel)]="message" autosize placeholder="Nachricht.." name="message">
  </ion-textarea>
  <ion-buttons>
    <button (click)="addBoardMessage()">
      <ion-icon name="ios-send-outline"></ion-icon>
    </button>
  </ion-buttons>
</ion-footer>
