<ion-header>

  <ion-navbar>
    <ion-buttons end>
      <button ion-button (click)="updateEvent()">bearbeiten</button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="page">
      <ion-segment-button (ionSelect)="page = 'detail'" value="detail">
        Ausflug
      </ion-segment-button>
      <ion-segment-button (ionSelect)="page = 'inviteList'" value="inviteList">
        Teilnehmer
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-grid *ngIf="page === 'detail'">
      <div class="">
        <span>zugesagt 0/12</span><span>bezahlt 0/12</span>
      </div>
      <div *ngIf="eventData">{{eventData.name}}</div>

    </ion-grid>
    <ion-grid *ngIf="page === 'inviteList'">
      <ion-list *ngIf="inviteList">
        <ion-item *ngFor="let invite of inviteList">
          <img class="profile-pic" src="../../assets/imgs/default-no-profile-pic.jpg" item-start>
          {{invite.user.prename}} {{invite.user.surname}}
          <div class="participation">
            noch nicht reagiert
          </div>
        </ion-item>
      </ion-list>

    </ion-grid>

</ion-content>
