<ion-header>

  <ion-navbar>
    <ion-buttons *ngIf="userData.admin" end>
      <button ion-button (click)="updateEvent()">bearbeiten</button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="page" color="blue">
      <ion-segment-button (ionSelect)="page = 'detail'" value="detail">
        Ausflug
      </ion-segment-button>
      <ion-segment-button (ionSelect)="page = 'inviteList'" value="inviteList">
        Teilnehmer
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid *ngIf="page === 'detail'">
      <ion-row *ngIf="inviteList">
        <ion-list class="option-list">
          <ion-item>
            <ion-row>
              <ion-col col-4>
                <button *ngIf="inviteData.participation === 0 || inviteData.participation === 1"
                        ion-button block outline (click)="acceptInvite()">zusagen</button>
                <button *ngIf="inviteData.participation === 2"
                        ion-button block>zugesagt</button>
              </ion-col>
              <ion-col col-4>
                <button *ngIf="inviteData.participation === 0 || inviteData.participation === 2"
                        ion-button block outline (click)="declineInvite()">absagen</button>
                <button *ngIf="inviteData.participation === 1"
                        ion-button block>abgesagt</button>
              </ion-col>
              <ion-col col-4>
                <button *ngIf="inviteData.paid === 0" ion-button block outline (click)="payEvent()">bezahlen</button>
                <button *ngIf="inviteData.paid === 1" ion-button block>bezahlt</button>
                <button *ngIf="inviteData.paid === 0 && inviteData.paymentMethod != 0">in Arbeit..</button>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-list>
      </ion-row>

      <ion-row *ngIf="inviteList" class="event-statistic">
          <span>
            <i class="icon ion-checkmark"></i>
            {{participationCount}}/{{inviteList.length}}
          </span>
        <span>nicht zugesagt {{declinedCount}}/{{inviteList.length}}</span>
        <span>
            <ion-icon name="eye-off"></ion-icon>
            {{noReactionCount}}/{{inviteList.length}}
          </span>
        <span>bezahlt {{paidCount}}/{{inviteList.length}}</span>
      </ion-row>
      <ion-row>
        <ion-col col-6>{{eventData.name}}</ion-col>
        <ion-col col-6>{{eventData.location}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>vom {{eventData.startDate}}</ion-col>
        <ion-col col-6>bis {{eventData.endDate}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          € {{eventData.sum}}
        </ion-col>
      </ion-row>

    </ion-grid>
    <ion-grid *ngIf="page === 'inviteList'">
      <ion-list *ngIf="inviteList">
        <ion-item *ngFor="let invite of inviteList" padding-left padding-right>
          <img class="profile-pic" src="../../assets/imgs/default-no-profile-pic.jpg" item-start>
          <span>{{invite.user.prename}} {{invite.user.surname}}</span>
          <div class="info">
            <div class="participation">
              <span *ngIf="invite.participation == 0">noch nicht reagiert</span>
              <span *ngIf="invite.participation == 1">nimmt nicht teil</span>
              <span *ngIf="invite.participation == 2">nimmt teil</span>
            </div>

            <div class="payment" *ngIf="invite.participation == 2">
              <div class="payment-item" *ngIf="invite.paymentMethod == 0 && invite.participation != 1">
                <span>hat noch nicht bezahlt</span>
              </div>
              <div class="payment-item" *ngIf="invite.paymentMethod == 1 && invite.participation != 1">
                <button *ngIf="invite.paid == 0" ion-button outline (tap)="confirmPayment()">Barzahlung bestätigen</button>
                <button *ngIf="invite.paid == 1" ion-button>bezahlt</button>
              </div>
            </div>
          </div>
        </ion-item>
      </ion-list>

    </ion-grid>


</ion-content>
