page-event-detail {
 ion-list {
   ion-item {
     border-bottom: none !important;
     border-top: none !important;
     line-height: 14px !important;
     .list-ios,
     .item-block,
     .item-inner {
       border-bottom: none !important;
     }
     .participation {
       color: $font-light-grey;
       font-size: 11px;
     }

   }
 }
}
