<ion-header>

  <ion-navbar>
    <ion-buttons *ngIf="userData.admin" end>
      <button ion-button (click)="updateEvent()">bearbeiten</button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="page" color="green">
      <ion-segment-button (ionSelect)="page = 'detail'" value="detail">
        Ausflug
      </ion-segment-button>
      <ion-segment-button (ionSelect)="page = 'inviteList'" value="inviteList">
        Teilnehmer
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-grid *ngIf="page === 'detail'">
      <ion-row>
        <ion-col>
          <span>zugesagt 0/12</span><span>bezahlt 0/12</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>{{eventData.name}}</ion-col>
        <ion-col col-6>{{eventData.location}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>vom {{eventData.startDate}}</ion-col>
        <ion-col col-6>bis {{eventData.endDate}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          € {{eventData.sum}}
        </ion-col>
      </ion-row>
      <div></div>

    </ion-grid>
    <ion-grid *ngIf="page === 'inviteList'">
      <ion-list *ngIf="inviteList">
        <ion-item *ngFor="let invite of inviteList">
          <img class="profile-pic" src="../../assets/imgs/default-no-profile-pic.jpg" item-start>
          {{invite.user.prename}} {{invite.user.surname}}
          <div class="participation">
            noch nicht reagiert
          </div>
        </ion-item>
      </ion-list>

    </ion-grid>


</ion-content>
