page-event-detail {
  ion-grid {
    padding: 5px 0 !important;
  }
 ion-list {
   ion-item {
     //border-bottom: none !important;
     //border-top: none !important;
     line-height: 14px !important;
     .list-ios,
     .item-block,
     .item-inner {
       //border-bottom: none !important;
     }
     .participation {
       color: $font-light-grey;
       font-size: 11px;
     }

   }
   &.option-list {
     width: 100%;

     ion-item {
       padding-left: 0px !important;
     }
     .item-inner,
     ion-label {
       padding:0 !important;
       margin: 0 !important;
     }


   button[block] {
     font-size: 1.2rem;
   }
   button[outline]{
       font-size: 1.2rem;
       border-width: 0.38pt;
     }
   }
 }

  .event-statistic {
    padding: 0 16px;
    justify-content: space-between;
  }
}
