page-event-detail {
  ion-grid {
    padding: 5px 0 !important;
  }

 ion-list {
   width: 100%;

   ion-label {
     color: #aeacb4 !important;
     font-weight: 400;
   }
   ion-note,
   ion-list-header span,
   ion-list-header ion-label {
     color: #484848 !important
   }

   ion-list-header {
     ion-label {
       text-transform: capitalize;
       font-size: 22px;
       font-weight: 700;
       letter-spacing: -1px;
     }
   }

   &.option-list {
     margin-bottom: 0 !important;
     ion-item {
       border-top: none !important;
     }
   }

   &.statistic {
     ion-label {
       span {
         align-self: flex-end;
       }
       display: flex;
       justify-content: space-between;
     }
   }

   &.statistic,
   &.details {

     .list-header {
       button {
         color: #567add !important;
         background-color: #fff !important;
         ion-badge {
           margin-right: 5px;
         }
       }
       .item-inner {
         font-weight: 400 !important;
       }

     }

     .item-inner {
       font-size: 14px !important;
       font-weight: 700;
       color: #484848 !important;
     }

   }


   button[block] {
     font-size: 1.2rem;
   }
   button[outline]{
       font-size: 1.2rem;
       border-width: 0.38pt;
     }
   }


  .event-statistic {
    padding: 0 16px;
    justify-content: space-between;
  }
}
