page-payment-list {

  ion-content {

    ion-grid {
      padding: 0 !important;

      ion-row {

        h4 {
          width: 100%;
          margin-left: 16px;
          font-size: 1rem;
          text-transform: uppercase;
          font-weight: 700;
          color: #B5B6B6;
        }
        &.payment-tabs {
          justify-content: space-evenly;
          border-bottom: 1px solid #F4F4F4;
          padding-bottom: 20px;

          ion-col[col-6] {
            flex: 0 0 28% !important;
            width: 28% !important;
            max-width: 28% !important;
            padding: 20px;
            text-align: center;
            border: 1px solid #F4F4F4;
            border-radius: 3px;
            transition: .3s all;


            &:hover {
              border: 1px solid #BCCFF3;
              box-shadow: 2px 4px 16px -3px rgba(0,0,0,0.11);
            }
          }
        }

        .btn-container {
          width: 100%;
          display: flex;
          justify-content: center;
          position: fixed;
          left: 0;
          bottom: -4px;

          button {
            border-radius: 0 !important;
            height: 5rem;

            ion-spinner {
              circle {
                stroke: #fff;
              }
            }
          }
        }

        &.ec {


        }


      }
    }
  }

}
