
<ion-header>

  <ion-navbar>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <h4>Zahlungsmethode</h4>
    </ion-row>
    <ion-row class="payment-tabs">
      <ion-col col-6 (click)="paymentMethod = 'ec'">EC</ion-col>
      <ion-col col-6 (click)="paymentMethod = 'credit'">Credit</ion-col>
    </ion-row>

    <ion-row class="ec" *ngIf="paymentMethod == 'ec'">
      <h4>details</h4>
      <form>
        <ion-list>
          <ion-item>
            <ion-label color="midGrey">Inhaber</ion-label>
            <ion-input [(ngModel)]="stripeBankData.account_holder_name" name="account_holder_name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="midGrey">IBAN</ion-label>
            <ion-input [(ngModel)]="stripeBankData.account_number" name="iban"></ion-input>
          </ion-item>
        </ion-list>

      </form>

      <div class="btn-container">
        <button ion-button block color="blue" (click)="createBankAccount()"><span *ngIf="!loadingActivated">Speichern</span>
          <ion-spinner *ngIf="loadingActivated"></ion-spinner>
        </button>
      </div>
    </ion-row>

    <ion-row *ngIf="paymentMethod == 'credit'">
      <h4>details</h4>
      credit

      <div class="btn-container">
        <button ion-button block color="blue">Speichern</button>
      </div>
    </ion-row>

    <ion-row *ngIf="paymentMethod == 'paypal'">
      <h4>details</h4>
      paypal

      <div class="btn-container">
        <button ion-button block color="blue"><span *ngIf="!loadingActivated">Speichern</span>
          <ion-spinner *ngIf="loadingActivated"></ion-spinner>
        </button>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>
