<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button *ngIf="!update" ion-button (click)="createEvent()">fertig</button>

      <button *ngIf="update" ion-button (tap)="updateEvent()">fertig</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>



<ion-content padding-top>
  <form>
    <ion-list class="event-list">
    <ion-list-header>
      Ausflug
    </ion-list-header>
    <ion-item class="event-name">
      <ion-label>
        <ion-icon name="ios-pricetag-outline" item-start></ion-icon>
      </ion-label>
      <ion-input [(ngModel)]="eventData.name" name="name" type="text" placeholder="Name"></ion-input>
    </ion-item>
    <ion-item class="event-location">
      <ion-label>
        <ion-icon name="ios-pin-outline" item-start></ion-icon>
      </ion-label>
      <ion-input [(ngModel)]="eventData.location" name="location" type="text" placeholder="Ort"></ion-input>
    </ion-item>
    <ion-item class="event-sum">
      <ion-label>
        <ion-icon name="ios-cash-outline" item-start></ion-icon>
      </ion-label>
      <ion-input [(ngModel)]="eventData.sum" name="sum" type="number" placeholder="Preis"></ion-input>
    </ion-item>
    <ion-item class="event-date">
      <ion-label>
        <ion-icon name="ios-calendar-outline" item-start></ion-icon>
      </ion-label>
      <ion-input type="button" [(ngModel)]="eventData.startDate" name="startDate" (click)="startDate()" value="Anfang"></ion-input>
      <ion-input type="button" [(ngModel)]="eventData.endDate" name="endDate" (click)="endDate()" value="Ende"></ion-input>
    </ion-item>
    </ion-list>
    <ion-list class="invite-list">
      <ion-list-header (click)="goToInviteList()">
        Leute
        <div item-end><ion-icon name="ios-add-outline"></ion-icon></div>
      </ion-list-header>
      <ion-item *ngFor="let user of inviteList">
        <img class="profile-pic" src="../../assets/imgs/default-no-profile-pic.jpg" item-start>
        {{user.prename}} {{user.surname}}
        <ion-icon item-end name="ios-trash-outline" (tap)="addToDelete(user)"></ion-icon>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
