page-event-modal,
page-profile-modal {
  ion-list {
    .list-ios,
    .item-block,
    .item-inner {
      //border: none !important;
    }
    ion-list-header {
      //background-color: #EFEEF4 !important;
      border: none !important;
      ion-label {
        text-transform: capitalize;
        font-size: 22px;
        font-weight: 700;
        letter-spacing: -1px;
      }
    }
    width: 100%;

    ion-icon[name="ios-add-outline"] {
      font-size: 2.5em;
    }
    &.event-list {
      margin: -1px 0 10px !important;
    }
    &.invite-list {
      border-top: none !important;
    }
  }
  ion-item {
    //border-bottom: 0.55px solid #c8c7cc !important;
    ion-icon {
      font-size: 1.6em !important;
    }
    &.event-date {
      ion-input:nth-child(1) {
        border-right: 0.55px solid #c8c7cc !important;
      }
    }

    .item-inner {
      //border: none !important;
    }
  }
  ion-calendar-modal {
    .toolbar {
      color: #000000 !important;
    }
    .toolbar-background {
    }
  }

  .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, 
  .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom: 1px solid #dedede !important;
    box-shadow: none !important;
  }
}
