page-profile {
  ion-header {
    ion-icon[name="more"] {
      font-size: 1.6em;
      //transform: rotate(-90deg);
    }
  }

  ion-content {
    h5 {
      margin-bottom: 0;
    }
    h6 {
      margin: 0 !important;
      //color: #484848;
    }
    .member-profile-position {
      margin-top: 0.1rem !important;
      color: #484848;
    }
    ion-grid {
      &.member-profile {
      }
      &.team-profile {
        padding: 0 !important;
        //-webkit-box-shadow: 0px 3px 12px -2px rgba(0,0,0,0.12);
        //-moz-box-shadow: 0px 3px 12px -2px rgba(0,0,0,0.12);
        //box-shadow: 0px 3px 12px -2px rgba(0,0,0,0.12);
      }
      .member-profile-options {
        justify-content: flex-end;
        ion-icon {

        }
      }
      ion-row {
        position: relative;
        ion-fab {
          position: absolute;
          right: 4px;
          bottom: -20px;
          width: 45px !important;
          height: 45px !important;
          //-webkit-box-shadow: 0px 3px 12px -2px rgba(0,0,0,0.22);
          //-moz-box-shadow: 0px 3px 12px -2px rgba(0,0,0,0.22);
          //box-shadow: 0px 3px 12px -2px rgba(0,0,0,0.22);
        }
        ion-col {
          &.member-profile-pic img {
            width: 65px;
            height: auto;
            border-radius: 100%;
            border: 1px solid #909090;
          }
          &.member-profile-name {
            align-self: center;
          }
          &.member-profile-trickot {
            .trickot-number {
              position: absolute;
              display: inline-block;
              top: 22%;
              font-size: 23px;
              font-weight: 700;
              color: #fff;
              left: 39%;
            }
          }
          &.team-pic {
            width: 80px;
            height: 80px;
            border-radius: 100%;
            img {
              display: block;
              width: 100%;
              height: auto;
            }
          }
        }
        &.create-team {
          justify-content: space-evenly;
        }
      }
    }
  }
}
