<ion-header>
  <ion-navbar padding-right>
    <ion-title>Profil</ion-title>
    <ion-buttons end>
      <button (click)="presentActionSheet($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding >
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid class="member-profile">
    <ion-row>
      <ion-col col-3 class="member-profile-pic">
        <img *ngIf="!userData.profile.profile_img" class="pic" src="assets/imgs/default-no-profile-pic.jpg">
        <img *ngIf="userData.profile.profile_img" class="pic" [src]="userData.profile.profile_img">
      </ion-col>
      <ion-col col-7 class="member-profile-name" padding>
        <h5>{{userData.prename}} {{userData.surname}}</h5>
        <h6 class="member-profile-position"></h6>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid padding class="team-profile" *ngIf="userData.team_id && teamData">

    <ion-list class="profile-options">
      <button ion-item (click)="goToBalance()">
        <ion-icon name="ios-card-outline" item-start></ion-icon>
        <ion-label>Guthaben</ion-label>
        <ion-spinner item-end *ngIf="!balanceLoaded"></ion-spinner>
        <ion-label class="balance" item-end *ngIf="balanceLoaded">{{ availableBalance / 100 || 0 | currency : "EUR" : 1 }}</ion-label>
      </button>
      <button ion-item (click)="presentInvitePopover($event)">
        <ion-icon name="ios-person-add-outline" item-start></ion-icon>
        <ion-label>Leute einladen</ion-label>
      </button>
    </ion-list>
  </ion-grid>
</ion-content>
