<ion-header>
  <ion-navbar padding-right>
    <!--<ion-title>Profil</ion-title>-->
    <ion-buttons end>
      <button (click)="presentActionSheet($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding >
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid class="member-profile">
    <ion-row>
      <ion-col col-3 class="member-profile-pic">
        <img src="../../assets/imgs/default-no-profile-pic.jpg">
      </ion-col>
      <ion-col col-7 class="member-profile-name">
        <h5>{{userData.prename}} {{userData.surname}}</h5>
        <h6 class="member-profile-position">Sturm</h6>
      </ion-col>
      <!--<ion-col col-2 *ngIf="userData.back_number" class="member-profile-trickot">
        <img src="../../assets/imgs/trickot.svg">
        <span class="trickot-number">{{userData.back_number}}</span>
      </ion-col>-->
    </ion-row>
    <!--<ion-row style="justify-content: center;">-->
      <!--<button ion-button (click)="presentProfileModal()">Profil bearbeiten</button>-->
    <!--</ion-row>-->
  </ion-grid>

  <ion-grid *ngIf="!userData.team_id">
    <ion-row class="create-team">
      <button ion-button (click)="toggleClick()">Team erstellen</button>
      <button ion-button>Team beitreten</button>
    </ion-row>
    <ion-row *ngIf="clicked">
      <form>
        <ion-item>
          <ion-icon name="people" item-start></ion-icon>
          <ion-input [(ngModel)]="teamData.name" name="name" type="text" placeholder="Teamname"></ion-input>
          <ion-icon name="add" item-end (click)="createTeam()"></ion-icon>
        </ion-item>
      </form>
    </ion-row>
  </ion-grid>
  <ion-grid padding class="team-profile" *ngIf="userData.team_id && teamData">
    <hr>
    <ion-row>
      <ion-col class="team-pic" col-3>
        <img src="../../assets/imgs/team_logo.jpg">
      </ion-col>
      <ion-col col-7>
        <h5>{{teamData.name}}</h5>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="inviteRequests && inviteRequests.length > 0">
      <div (click)="gToInviteRequests()">neue Team Anfragen ></div>
    </ion-row>
    <ion-list>
      <button ion-item (click)="goToPaymentMethods()">
        <ion-icon name="ios-card-outline" item-start></ion-icon>
        <ion-label>Bezahlmöglichkeiten</ion-label>
      </button>
      <button ion-item (click)="presentInvitePopover($event)">
        <ion-icon name="ios-person-add-outline" item-start></ion-icon>
        <ion-label>Leute einladen</ion-label>
      </button>
    </ion-list>
  </ion-grid>
</ion-content>
