page-home {
  .button {
    width: 80%;
  }
  .scroll-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $logo-grey;
  }
  ion-content {
    font-weight: 700;
    img {
      width: 100px;
      height:auto;
    }
    button {
      margin-top: 35px !important;
    }
  }
  ion-footer {
    color: $font-grey !important;
    border-top: 0.5px solid $logo-grey !important;
    .register {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      font-weight: 300;
      span {
        margin-left: 2px;
        font-weight: 400;
      }
    }
  }
}
