
<ion-header>

  <ion-navbar>
    <ion-title *ngIf="userData.admin">Strafenkatalog</ion-title>
    <ion-title *ngIf="!userData.admin">Deine Strafen</ion-title>
    <ion-buttons end *ngIf="userData.admin">
      <button (click)="goToAddPenalty()">
        <ion-icon name="ios-add-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      refreshingSpinner="crescent">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="list.length > 0">
    <ion-item *ngFor="let penalty of list">
      <img *ngIf="!penalty.user.profile_img" class="profile-pic" src="assets/imgs/default-no-profile-pic.jpg" item-start>
      <img *ngIf="penalty.user.profile_img" class="profile-pic" [src]="penalty.user.profile_img" item-start>
      <ion-label>
        <div class="penalty-name">
          <span>{{ penalty.name }}</span>
          <ion-icon *ngIf="userData.admin" name="more" (tap)="openPenaltyOptions(penalty)"></ion-icon>
        </div>
        <div class="penalty-user">
          <span class="name" *ngIf="userData.admin">{{penalty.user.prename}} {{penalty.user.surname}}</span>
          <span class="penalty-amount" *ngIf="userData.admin">
            <span class="amount">{{ penalty.amount || 0 | currency : "EUR" : 1 }} €</span>
            <button ion-button outline *ngIf="penalty.user.uuid === userData.uuid && penalty.paid === 0 && penalty.paymentMethod === 0" (click)="openPayPopover(penalty)">Bezahlen</button>
            <button ion-button *ngIf="penalty.user.uuid === userData.uuid && penalty.paid === 1">Bezahlt</button>
          </span>
          <div class="penalty-amount" *ngIf="!userData.admin" style="width: 100%; justify-content: space-between">
            <span class="amount">{{ penalty.amount || 0 | currency : "EUR" : 1 }} €</span>
            <button ion-button outline *ngIf="penalty.user.uuid === userData.uuid && penalty.paid === 0 && penalty.paymentMethod === 0" (click)="openPayPopover(penalty)">Bezahlen</button>
            <button ion-button *ngIf="penalty.user.uuid === userData.uuid && penalty.paid === 1">Bezahlt</button>
          </div>
        </div>
        <div class="payment-accept">
          <button ion-button outline *ngIf="userData.admin && penalty.paid === 0 && penalty.paymentMethod === 1" (click)="acceptPayment(penalty)">Barzahlung bestätigen</button>
          <button ion-button outline *ngIf="!userData.admin && penalty.paid === 0 && penalty.paymentMethod === 1">auf Bestätigung warten</button>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>
  <div *ngIf="list.length === 0">
    <h1>Du hast keine Strafen</h1>
    <h3>Anscheinend warst du bis jetzt brav!</h3>
  </div>
</ion-content>
