// http://ionicframework.com/docs/theming/

@import "../assets/css/ionicons.min.css";

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
body {
  -webkit-font-smoothing: antialiased;
  font-family: "Open Sans", "Helvetica Neue", sans-serif !important;
  font-weight: 400 !important;
  color: #B5B6B6 !important;
}


// Remove annoying scrollbar in browser
// --------------------------------------------------
::-webkit-scrollbar {
  display: none;
}

// Form
// --------------------------------------------------

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-md::after,
.tabs-md[tabsPlacement="top"] > .tabbar::after,
.footer-md::before,
.tabs-md[tabsPlacement="bottom"] > .tabbar::before{
  background-image: none !important;
}

// Toolbar
// --------------------------------------------------

.toolbar-background {
  background-color: #ffffff;
  border-bottom: none !important;
  //color: #000000;
}

ion-navbar {
  .toolbar-background {
    border-bottom: 0 !important;
  }
}

.toolbar-title {
  color: #567add !important;
  font-weight: 200 !important;
}

.back-button {
  font-size: 1.5rem !important;
  color: #000000 !important;
}
ion-navbar {
  //box-shadow: -2px -2px 2px 3px rgba(0, 0, 0, 0.11);
}
ion-toolbar {
  margin-top: 2px;
}
ion-header {
  button[ion-button] {
    height: 2.7rem !important;
    color: #000;
    //color: #567add;
    border-width: 0.5px !important;
    font-size: 1.5rem;
  }
  ion-icon {
    font-size: 3rem !important;
  }
}

// Buttons
// --------------------------------------------------

ion-icon[name="arrow-back"] {
  font-size: 1.8em !important;
}

.click-text {
  color: #000;
  font-weight: 300;
}

ion-header {
  button {
    background-color: transparent !important;
  }
}

.toolbar-title {
  font-weight: 700 !important;
}

.md button {
  text-transform: none;
}

ion-popover {
  display: flex !important;
  justify-content: center !important;

  .popover-arrow {
    display: none !important;
  }
  .popover-content {
    width: 300px !important;
    top: auto !important;
    left: auto !important;
    position: relative;
    align-self: center;
    transform-origin: center center 0px !important;
  }
}

.shadow {
  -webkit-box-shadow: 2px 4px 16px -3px rgba(0,0,0,0.26);
  -moz-box-shadow: 2px 4px 16px -3px rgba(0,0,0,0.26);
  box-shadow: 2px 4px 16px -3px rgba(0,0,0,0.26);
}

.profile-pic {
  width: 55px;
  height: 55px;
  border-radius: 100%;
  margin-bottom: 3px;
}
