// http://ionicframework.com/docs/theming/



// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import url("http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");
body {

  -webkit-font-smoothing: antialiased;
}

// Remove annoying scrollbar in browser
// --------------------------------------------------
::-webkit-scrollbar {
  display: none;
}

// Form
// --------------------------------------------------

form {
  display: flex;
  flex-direction: column;
  align-items: center;

  ion-item {
    padding: 10px 16px !important;
  }
  ion-item:last-of-type {
    margin-bottom: 20px;
  }
}

// Toolbar
// --------------------------------------------------

.toolbar-background {
  background-color: #ffffff !important;
  border: none !important;
}

// Buttons
// --------------------------------------------------

ion-icon[name="arrow-back"] {
  font-size: 1.8em !important;
}

.click-text {
  color: #000;
  font-weight: 300;
}

button {
  background-color: transparent !important;
}

.button {
  font-weight: 400;
  text-align: center;
  padding: 12px;
  background: $light-blue;
  border: 0.5px solid $light-blue;
  font-size:13px;
  //color: #3897f0;
  color: #ffffff;
  width: 80%;
  border-radius: 4px;
  margin-bottom: 15px;
}
