// http://ionicframework.com/docs/theming/

@import "../assets/css/ionicons.min.css";

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

body,
ion-app.md {
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-weight: 700 !important;
  color: #484848 !important;
}

span.light {
  color: #D3D3D3;
  font-weight: 300 !important;
}

.grey {
  color: #E4E4E4 !important;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.center-text {
  justify-content: center !important;
  text-align: center !important;
}

// Remove annoying scrollbar in browser
// --------------------------------------------------
::-webkit-scrollbar {
  display: none;
}

.toolbar-ios .segment-button {
  max-width: 150px;
  height: 2.9rem;
  font-size: 1.2rem;
  line-height: 2.7rem;
}

// Form
// --------------------------------------------------

form.custom {
  width: 100%;
  padding: 0 16px;
  ion-label,
  ion-input,
  ion-textarea {
    font-weight: 700;
    font-size: 13px;
  }
  ion-input,
  ion-textarea {
    text-align: right;
    textarea,
    input {
      text-align: right;
    }
  }
  ion-list {
    width: 100%;
  }
  ion-item {
    width: 100%;
    border: 1px solid #f4f4f4 !important;
    border-radius: 3px !important;
    margin-bottom: 10px !important;
    .item-inner {
      border-bottom: none !important;
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-md::after,
.tabs-md[tabsPlacement="top"] > .tabbar::after,
.footer-md::before,
.tabs-md[tabsPlacement="bottom"] > .tabbar::before{
  background-image: none !important;
}

// Toolbar
// --------------------------------------------------

.toolbar-background {
  background-color: #ffffff;
  border-bottom: none !important;
  //color: #000000;
}

ion-navbar {
  .toolbar-background {
    border-bottom: 0 !important;
  }
  button,
  .back-button {
    font-weight: 600;
    font-size: 1.5rem !important;
    color: #484848 !important
  }
}

.toolbar-title {
  color: #000 !important;
  font-weight: 300 !important;
}

ion-navbar {
  box-shadow: -2px -2px 2px 3px rgba(0, 0, 0, 0.11);
}
ion-toolbar {
  margin-top: 2px;
}
ion-header {
  button[ion-button] {
    height: 2.7rem !important;
    //color: #000;
    //color: #567add;
    border-width: 0.5px !important;
    font-size: 1.5rem;
  }
  ion-icon {
    font-size: 3rem !important;
  }
}

// Buttons
// --------------------------------------------------
.segment-ios {
  ion-segment-button {
    &.segment-activated {
      background-color: #56CCF2 !important;
      border: 1px solid #56CCF2 !important;
      color: #ffffff !important;
    }

    border: 1px solid #56CCF2 !important;
    color: #56CCF2 !important;
  }
}

.segment-md .segment-button {
  color: #56CCF2 !important;
}

.segment-md .segment-button.activated,
.segment-md .segment-button.segment-activated {
  border-color: #56CCF2 !important;
}

form {
  button[ion-button] {
    background-color: transparent !important;
    background: transparent !important;
  }
}

.button-md {
  box-shadow: none !important;
}

button[ion-button] {
  //background-color: #80CBC4 !important;
  background-color: #56CCF2;
  background: -webkit-linear-gradient(to left, rgba(47, 128, 237, 0.6), rgba(86, 204, 242, 0.8));
  background: linear-gradient(to left, rgba(47, 128, 237, 0.6), rgba(86, 204, 242, 0.8));
}

button[ion-button="action-sheet-button"],
button[ion-button="bar-button"],
button[ion-button="alert-radio-button"],
button[ion-button="alert-button"] {
  background-color: #ffffff !important;
  background: transparent !important;
}

ion-navbar {
  button[ion-button] {
    background-color: transparent !important;
    background: transparent !important;
  }
}

button[outline] {
  border-color: rgba(47, 128, 237, 0.6) !important;
  background: transparent !important;
  background-color: transparent !important;
  color: rgba(47, 128, 237, 0.6) !important;
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: -4px;

  button {
    //background-color: #80CBC4 !important;
    background: #56CCF2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, rgba(47, 128, 237, 0.6), rgba(86, 204, 242, 0.8));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, rgba(47, 128, 237, 0.6), rgba(86, 204, 242, 0.8)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 0 !important;
    height: 5rem;

    .spinner-ios-ios line,
    .spinner-ios-ios-small line {
      stroke: #fff !important;
    }
    .spinner-ios,
    .spinner-ios-ios {
      width: 24px !important;
      height: 24px !important;
    }
    ion-spinner {
      circle {
        stroke: #fff !important;
      }
    }
  }
}

ion-icon[name="arrow-back"] {
  font-size: 1.8em !important;
}

.click-text {
  color: #000;
  font-weight: 300;
}

ion-header {
  button {
    background-color: transparent !important;
  }
}

.toolbar-title {
  font-weight: 700 !important;
}

.md button {
  text-transform: none;
}

ion-popover {
  display: flex !important;
  justify-content: center !important;

  .popover-arrow {
    display: none !important;
  }
  .popover-content {
    width: 300px !important;
    top: auto !important;
    left: auto !important;
    position: relative;
    align-self: center;
    transform-origin: center center 0px !important;
  }
}

.shadow {
  -webkit-box-shadow: 2px 4px 16px -3px rgba(0,0,0,0.26);
  -moz-box-shadow: 2px 4px 16px -3px rgba(0,0,0,0.26);
  box-shadow: 2px 4px 16px -3px rgba(0,0,0,0.26);
}

.profile-pic {
  width: 55px;
  height: 55px;
  border-radius: 100%;
  margin-bottom: 3px;
}

// GOOOGLE MAPS CONTAINER
// --------------------------------------------------

.pac-container {
  box-shadow: none;
  border: 0.55px solid #c8c7cc;

  &:after {
    display: none;
  }
}

// LIST STYLE
// --------------------------------------------------

.list-ios > .item-block:first-child {
  border-top: none !important;
}

.list-ios > .item-block:last-child,
.list-ios > .item-wrapper:last-child .item-block {
  border-bottom: none !important;
}

// SEARCHBAR
// --------------------------------------------------

input.searchbar-input {
  box-shadow: none !important;
}

.searchbar-ios {
  background: transparent !important;
}

body.keyboard-is-open ion-tabbar {
  display: none;
}

body.keyboard-is-open scroll-content {
  margin-bottom: 0 !important;
}

.add-bankaccount {
  text-align: center;
  padding: 16px 0 !important;
  ion-label {
    justify-content: center;
    flex-direction: column;
    white-space: unset;

    div {
      text-align: center;
      font-weight: 600;
    }
    button {
      align-self: center;
      margin-top: 15px;
    }
  }
}
