page-pay-popover {
  ion-grid {
    margin-top: 44px;
    ion-col {
      text-align: center;
      border: 1px solid #E4E4E4;
      margin: 10px !important;
      border-radius: 4px;
    }
    ion-icon {
      font-size: 2.6em !important;
    }
  }
}
