page-team-setup {
  .scroll-content {
    display: flex;
    flex-flow: column;
  }

  .item-select {
    .input-wrapper {
      justify-content: center !important;
    }
  
    .select-icon {
      position: absolute !important;
    }

    [placeholder] {
      font-weight: 700;
    }
  }

  .or {
    margin: 50px 0 30px 0;
    font-weight: 700;
    text-align: center;
    color: #484848;
    padding-right: 16px;
    padding-left: 16px;

    &::after,
    &::before {
      content: '';
      display: block;
      height: 1px;
      width: 40%;
      background: #919191;
      margin-top: 7px;
    }

    &::after {
      float: left;
    }
    &::before {
      float: right;
    }
  }

  form {
    text-align: center;
    ion-select {
      width: 100%;
      text-align: center;
      button[ion-button] {
        height: inherit !important;
        border-radius: 26px !important;
        width: 100%;
        background: inherit !important;
        border-bottom: 1px solid #dedede !important;
      }
    }
    button[ion-button] {
      width: 90%;
      height: 4.6rem !important;
      border-radius: 26px !important;
    }
  }
}
