
<ion-content no-bounce>
      <form class="animated fadeIn">
        <ion-list>
          <ion-item class="cam">
            <div class="cam-container" (tap)="getPictures()">
              <ion-icon name="ios-camera-outline" *ngIf="!teamData.teamLogo"></ion-icon>
              <img *ngIf="teamData.teamLogo" [src]="teamData.teamLogo">
            </div>
          </ion-item>
          <ion-item>
            <ion-input [(ngModel)]="teamData.name" name="name" type="text" placeholder="Mannschaftsname"></ion-input>
          </ion-item>
          <ion-item>
              <ion-select placeholder="Sportart" name="teamType" [(ngModel)]="teamType">
                <ion-option value="soccer">⚽ Fussball</ion-option>
                <ion-option value="basketball">🏀 Basketball</ion-option>
                <ion-option value="volleyball">🏐 Volleyball</ion-option>
                <ion-option value="football">🏈 Football</ion-option>
              </ion-select>
            </ion-item>
        </ion-list>
        <button ion-button class="animated fadeInUp" (tap)="createTeam()">
            <span *ngIf="!loading">Erstellen</span>
            <ion-spinner *ngIf="loading"></ion-spinner>
          </button>
      </form>
      <div class="or">ODER</div>
      <form class="animated fadeIn">
        <ion-list>
          <ion-item>
            <ion-input [(ngModel)]="invite_token" name="invite_token" type="text" placeholder="Einladungstoken"></ion-input>
          </ion-item>
        </ion-list>
        <button ion-button class="animated fadeInUp" (tap)="createTeam()">
            <span *ngIf="!loading">Beitreten</span>
            <ion-spinner *ngIf="loading"></ion-spinner>
          </button>
      </form>

</ion-content>

