page-transfer-create {
  ion-content {
    padding-top: 30px;
  }

  .total-amount {
    display: flex;
    padding: 0 8px 0 16px;
    span {
      align-self: center;
      font-weight: 700;
    }
  }
  ion-spinner {
    circle {
      stroke: #fff !important;
    }
  }

  ion-icon[name="ios-checkmark-circle-outline"] {
    font-size: 2em !important;
  }
}
