page-setup-account,
page-team-setup {
  .scroll-content {
    background-color: #FAFAFA !important;
    padding-bottom: 50px;
    display: flex;
  }
  ion-list {

    .google-auto {
      margin-bottom: 150px;
      input {
        width: 100%;
        text-align: center;
        border: none !important;
        background-color: transparent;
      }
      ion-label {
        margin: 11px 0 11px 0 !important;
      }
    }

    width: 100%;

    ion-list-header {
      padding-left: 0 !important;
      border-bottom: none !important;
      margin-bottom: 0 !important;
      background-color: transparent !important;
      ion-label {
        margin-left: 0 !important;
        margin-bottom: 5px !important;
        margin-right: 0px !important;
        font-weight: 700;
        font-size: 21px;
        text-transform: capitalize;
        letter-spacing: -1px;
        text-align: center;

      }
    }

    ion-item {
      background-color: transparent !important;
      padding-left: 0px !important;

      .item-inner {
        padding-right: 0 !important;
      }

      &.cam {
        border-top: none !important;
        .item-inner {
          border-bottom: none !important;
        }

        ion-label {
          display: flex;
          justify-content: center;
          margin: 11px 0 11px 0 !important;
        }
        .cam-container {
          position: relative;
          border-radius: 100%;
          border: 2px solid #E4E4E4;
          display: flex;
          width: 75px;
          height: 75px;
          justify-content: center;
          margin-bottom: 20px;
          margin-top: 20px;

          img {
            display: inline-block;
            width: 75px;
            height: 75px;
            border-radius: 100%;
          }
        }
      }

      ion-icon[name="ios-camera-outline"] {
        font-size: 2.5em !important;
        align-self: center;
        display: inline-block;
        margin-bottom: 1px;
        color: #333 !important;
      }

      ion-input {
        input {
          margin: 11px 0px 11px 0 !important;
          text-align: center !important;
        }
      }
    }
  }
  form {
    width: 100%;
    ion-input {
      text-align: center;
    }
  }
}
