<ion-content no-bounce>
  <form class="animated fadeIn" [formGroup]="userSetupForm" (ngSubmit)="goToIdUpload()">
    <!-- Profile Form List -->
    <ion-list>
      <ion-item class="cam">
        <div class="cam-container" (tap)="goToPictureSelect()">
          <ion-icon name="ios-camera-outline" *ngIf="!profileImg"></ion-icon>
          <img *ngIf="profileImg" [src]="profileImg">
        </div>
      </ion-item>

      <!-- Prename Field -->
      <ion-item>
        <ion-input formControlName="prename" type="text" placeholder="Vorname"></ion-input>
        <ion-icon *ngIf="userSetupForm.controls.prename.valid" name="ios-checkmark-outline" item-end color="green"></ion-icon>
        <ion-icon *ngIf="!userSetupForm.controls.prename.valid && userSetupForm.controls.prename.touched" name="ios-close-circle-outline"
          item-end color="danger"></ion-icon>
      </ion-item>
      <small class="form-error-container animated shake" *ngIf="invalid || userSetupForm.controls.prename.hasError('required') 
    && userSetupForm.controls.prename.touched">
        <span color="danger">Vorname erforderlich.</span>
      </small>


      <!-- Surname Field -->
      <ion-item>
        <ion-input formControlName="surname" type="text" placeholder="Nachname"></ion-input>
        <ion-icon *ngIf="userSetupForm.controls.surname.valid" name="ios-checkmark-outline" item-end color="green"></ion-icon>
        <ion-icon *ngIf="!userSetupForm.controls.surname.valid && userSetupForm.controls.surname.touched" name="ios-close-circle-outline"
          item-end color="danger"></ion-icon>
      </ion-item>
      <small class="form-error-container animated shake" *ngIf="invalid || userSetupForm.controls.surname.hasError('required') 
      && userSetupForm.controls.surname.touched">
          <span color="danger">Nachname erforderlich.</span>
        </small>

      <!-- Birthday Field -->
      <ion-item>
        <ion-input [readonly]="true" formControlName="birthday" placeholder="Geburtstag" (tap)="openDatePicker()"></ion-input>
        <ion-icon *ngIf="userSetupForm.controls.birthday.valid" name="ios-checkmark-outline" item-end color="green"></ion-icon>
        <ion-icon *ngIf="!userSetupForm.controls.birthday.valid && userSetupForm.controls.birthday.touched" name="ios-close-circle-outline"
          item-end color="danger"></ion-icon>
      </ion-item>
      <div>{{ birthday }}</div>
      <small class="form-error-container animated shake" *ngIf="invalid || userSetupForm.controls.birthday.hasError('required') 
      && userSetupForm.controls.birthday.touched">
          <span color="danger">Geburtsdatum erforderlich.</span>
        </small>
    </ion-list>
    <!-- Profile Form List End -->

    <!-- Address Form List -->
    <ion-list>
      <ion-list-header>
        Adresse
      </ion-list-header>

       <!-- Address Field -->
      <ion-item class="google-auto">
        <ion-input id="google" formControlName="address" placeholder="Straße"></ion-input>
        <ion-icon *ngIf="userSetupForm.controls.address.valid" name="ios-checkmark-outline" item-end color="green"></ion-icon>
        <ion-icon *ngIf="!userSetupForm.controls.address.valid && userSetupForm.controls.address.touched" name="ios-close-circle-outline"
          item-end color="danger"></ion-icon>
        <!-- <input
                [options]='options'
                (FormatAddress)="getFormattedAddress($event)"
                angularGooglePlace autocomplete="off" placeholder="Straße"> -->
      </ion-item>
      <small class="form-error-container animated shake" *ngIf="invalid || userSetupForm.controls.address.hasError('required') 
      && userSetupForm.controls.address.touched">
          <span color="danger">Straße erforderlich.</span>
        </small>

      <!-- ZIP Field -->
      <ion-item>
          <ion-input formControlName="zip" type="number" placeholder="PLZ"></ion-input>
          <ion-icon *ngIf="userSetupForm.controls.zip.valid" name="ios-checkmark-outline" item-end color="green"></ion-icon>
          <ion-icon *ngIf="!userSetupForm.controls.zip.valid && userSetupForm.controls.zip.touched" name="ios-close-circle-outline"
            item-end color="danger"></ion-icon>
      </ion-item>
      <small class="form-error-container animated shake" *ngIf="invalid || userSetupForm.controls.zip.hasError('required') 
      && userSetupForm.controls.zip.touched">
          <span color="danger">PLZ erforderlich.</span>
        </small>

      <!-- City Field -->
      <ion-item>
        <ion-input formControlName="city" type="text" placeholder="Ort"></ion-input>
        <ion-icon *ngIf="userSetupForm.controls.city.valid" name="ios-checkmark-outline" item-end color="green"></ion-icon>
        <ion-icon *ngIf="!userSetupForm.controls.city.valid && userSetupForm.controls.city.touched" name="ios-close-circle-outline"
          item-end color="danger"></ion-icon>
      </ion-item>
      <small class="form-error-container animated shake" *ngIf="invalid || userSetupForm.controls.city.hasError('required') 
      && userSetupForm.controls.city.touched">
          <span color="danger">Stadt erforderlich.</span>
        </small>

      <!-- State Field -->
      <ion-item>
        <ion-input formControlName="state" type="text" placeholder="Bundlesland"></ion-input>
        <ion-icon *ngIf="userSetupForm.controls.state.valid" name="ios-checkmark-outline" item-end color="green"></ion-icon>
        <ion-icon *ngIf="!userSetupForm.controls.state.valid && userSetupForm.controls.state.touched" name="ios-close-circle-outline"
          item-end color="danger"></ion-icon>
      </ion-item>
      <small class="form-error-container animated shake" *ngIf="invalid || userSetupForm.controls.state.hasError('required') 
      && userSetupForm.controls.state.touched">
          <span color="danger">Bundesland erforderlich.</span>
        </small>

      <ion-item>
        <ion-input formControlName="country_code" type="text" placeholder="Land"></ion-input>
        <ion-icon *ngIf="userSetupForm.controls.country_code.valid" name="ios-checkmark-outline" item-end color="green"></ion-icon>
        <ion-icon *ngIf="!userSetupForm.controls.country_code.valid && userSetupForm.controls.country_code.touched" name="ios-close-circle-outline"
          item-end color="danger"></ion-icon>
      </ion-item>
      <small class="form-error-container animated shake" *ngIf="invalid || userSetupForm.controls.country_code.hasError('required') 
      && userSetupForm.controls.country_code.touched">
          <span color="danger">Land erforderlich.</span>
        </small>
    </ion-list>
    <!-- Address Form List End -->

    <button ion-button block type="submit">
      <span *ngIf="!updateLoading">Weiter</span>
      <ion-spinner *ngIf="updateLoading"></ion-spinner>
    </button>
  </form>

</ion-content>