page-deposit-create {
  ion-content {
    padding-top: 30px;
  }

  ion-input {
    input {
      text-align: right !important;
    }
  }

  .total-amount {
    display: flex;
    padding: 0 0 0 16px;
    span {
      margin-top: 18px;
      margin-right: 22px;
      font-weight: 700;
    }
  }
  ion-spinner {
    circle {
      stroke: #fff !important;
    }
  }

  ion-icon[name="ios-checkmark-circle-outline"] {
    font-size: 2em !important;
  }
}
