<!--
  Generated template for the TransferCreatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button (click)="close()">
        <ion-icon name="ios-close-outline"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Einzahlung</ion-title>
  </ion-navbar>
  <ion-toolbar *ngIf="this.type === 'deposit:online'" padding-left padding-right>
    <ion-segment [(ngModel)]="paymentType">
      <ion-segment-button value="balance">
        Guthaben
      </ion-segment-button>
      <ion-segment-button value="card">
        Kreditkarte
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <form *ngIf="type === 'deposit:online' &&
                              paymentType === 'card'">
    <ion-list>
      <ion-item>
        <ion-input type="number" class="margin-top-40" [(ngModel)]="depositData.amount" (ionChange)='updateFee()' placeholder="Betrag" name="amount"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="number" class="margin-top-20" [(ngModel)]="depositData.fee" placeholder="Gebühr" name="fee"></ion-input>
      </ion-item>

      <div class="total-amount">
        <span>Gesamt</span>
        <ion-input aria-readonly="true" class="margin-top-20" [(ngModel)]="depositData.total" name="total"></ion-input>
      </div>
    </ion-list>
  </form>

  <form *ngIf="type === 'deposit:online' &&
                              paymentType === 'balance'">
    <ion-list>
      <ion-item>
        <ion-input type="number" [(ngModel)]="depositData.amount" placeholder="Betrag" name="amount"></ion-input>
      </ion-item>
    </ion-list>
  </form>

  <form *ngIf="type === 'deposit:cash'">
    <ion-list>
      <ion-item>
        <ion-input type="number" [(ngModel)]="depositData.amount" placeholder="Betrag" name="amount"></ion-input>
      </ion-item>
    </ion-list>
  </form>

  <div class="btn-container">
    <button ion-button block color="blue" (click)="deposit()">
      <span *ngIf="!loadingActivated && !depositSuccess">Bestätigen</span>
      <ion-spinner *ngIf="loadingActivated"></ion-spinner>
      <ion-icon *ngIf="!loadingActivated && depositSuccess" name="ios-checkmark-circle-outline"></ion-icon>
    </button>
  </div>

</ion-content>
