<ion-header *ngIf="userData && teamData">
  <ion-navbar>
    <div class="team-logo" (tap)="setTeamLogo()">
      <img *ngIf="teamData.team_logo" [src]="teamData.team_logo">
      <img *ngIf="!teamData.team_logo" src="assets/icon/icon-team-black.svg">
    </div>
    <h4>{{teamData.name}}</h4>
    <div text-center style="font-size: 20px;">{{ availableStripeTeamBalance / 100 + teamData.balance | currency : "EUR" : 1  }}</div>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="segment">
      <ion-segment-button value="balance">
        Guthaben
      </ion-segment-button>
      <ion-segment-button value="member">
        Mitglieder
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!dataLoaded">
  <div class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>
</ion-content>

<ion-content no-bounce *ngIf="dataLoaded">

  <ion-refresher (ionRefresh)="doRefresh($event)" (ionPull)="doPulling($event)">
    <ion-refresher-content
      pullingText="Pull to refresh..."
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-grid *ngIf="segment === 'member'">
    <ion-searchbar placeholder="Suche"
      [(ngModel)]="myInput"
      [showCancelButton]="shouldShowCancel"
      (ionInput)="onInput($event)"
      (ionCancel)="onCancel($event)">
    </ion-searchbar>
    <ion-list class="user-list">
      <ion-item *ngFor="let user of teamUser">
        <img *ngIf="!user.profile_img" class="profile-pic" src="assets/imgs/default-no-profile-pic.jpg" item-start>
        <img *ngIf="user.profile_img" class="profile-pic" [src]="user.profile_img" item-start>
        <ion-label>
          <div class="user-name">
            {{user.prename}}
            {{user.surname}}
          </div>
          <div class="user-admin" *ngIf="user.admin">
            Kassenwart
          </div>
        </ion-label>
        <button *ngIf="userData.admin" ion-button outline item-end (click)="openPaySelectPopover(user)">Überweisen</button>
      </ion-item>
    </ion-list>
  </ion-grid>

  <ion-grid class="team-balance" *ngIf="segment === 'balance'">
    <ion-row>
    <h4>Online Saldo</h4>
    <div class="saldo-available">{{ availableStripeTeamBalance / 100 || 0 | currency : "EUR" : 1 }}</div>
      <div class="saldo-pending"><span>ausstehend:</span> {{ pendingStripeTeamBalance / 100 || 0 | currency : "EUR" : 1 }}</div>
      <ion-buttons padding-top>
        <button ion-button>
          Einzahlen
        </button>
        <button ion-button outline>
          Auszahlen
        </button>
      </ion-buttons>
  </ion-row>
    <ion-row>
      <h4>Bar Saldo</h4>
      <div class="saldo-available">{{ teamData.balance || 0 | currency : "EUR" : 1 }}</div>
      <ion-buttons padding-top>
        <button ion-button>
          Einzahlen
        </button>
        <button ion-button outline>
          Auszahlen
        </button>
        <button ion-button outline style="margin-top: 10px;">
          <ion-icon style="font-size: 2.5rem; margin-right: 5px;" name="ios-repeat-outline" item-start></ion-icon>
          <ion-label>Transaktionen anzeigen</ion-label>
        </button>
      </ion-buttons>
    </ion-row>

    <ion-list>
      <ion-row class="bank-account-container" *ngIf="bankAccountDetailsLoaded && bankAccountData">
        <h4>Team Bankkonto</h4>
          <div class="bank-account-details">
            <div class="bank-account-wrapper">
              <div class="bank-name">
                {{ bankAccountData.bank_name }}
              </div>
              <div class="bank-account-holder">
                {{ bankAccountData.account_holder_name }}
              </div>
              <div class="bank-iban">
                <span>IBAN</span>
                *** **** **** **{{ bankAccountData.last4 }}
              </div>
            </div>
          </div>
      </ion-row>
      <ion-item style="margin-bottom: 20px;" class="add-bankaccount" *ngIf="bankAccountDetailsLoaded && !bankAccountData">
        <div>Du hast noch kein Bankkonto hinzugefügt um Guthaben an dein
          Konto auszahlen zu können</div>
        <button ion-button outline (click)="goToAddBankAccount()">Bankkonto hinzufügen</button>
      </ion-item>
    </ion-list>
  </ion-grid>

</ion-content>



