<ion-content>
  <ion-header *ngIf="teamData">
    <div class="team-pic">
      <div class="overlay">
        <h4>{{teamData.name}}</h4>
      </div>
      <img src="../../assets/imgs/mannschaftsfoto.jpg">
      <div class="team-logo">
        <img src="../../assets/imgs/team_logo.jpg">
      </div>
    </div>
  </ion-header>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="none">
    </ion-refresher-content>
  </ion-refresher>
  <div class="wallet-content" *ngIf="teamData">
    <ion-row class="team-balance-options">
      <button (click)="presentActionSheet()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-row>
    <ion-grid *ngIf="teamData">
      <ion-row >
        <span class="saldo">Team-Saldo</span>
        <ion-col padding class="team-balance" col-10>
          € {{teamData.balance}}

            <!--<div class="team-balance-options">

              <span>Überweisung</span>
            </div>-->
        </ion-col>
      </ion-row>
      <ion-row *ngIf="userData">
        <span class="saldo">Mein Guthaben</span>
        <ion-col padding class="team-balance" col-12>
          € {{userData.balance}}

          <!--<div class="team-balance-options">

            <span>Überweisung</span>
          </div>-->
        </ion-col>
      </ion-row>
      <!--<ion-row class="team-member">
        <div class="line"></div>
        <div class="team-h">Mitglieder</div>
        <div class="line"></div>
      </ion-row>
      <ion-row>
        <ion-icon name="search"></ion-icon>
      </ion-row>-->
    </ion-grid>
  </div>
</ion-content>



