<ion-header *ngIf="userData && teamData">
  <!--<div class="team-pic">-->
    <!--<div class="overlay">-->
      <!--<h4>{{teamData.name}}</h4>-->
    <!--</div>-->
    <!--<div class="team-logo">-->
      <!--<img src="../../assets/imgs/team_logo.jpg">-->
    <!--</div>-->
  <!--</div>-->
  <ion-navbar>
    <div class="team-logo" (tap)="setTeamLogo()">
      <img *ngIf="teamData.team_logo" [src]="teamData.team_logo">
      <img *ngIf="!teamData.team_logo" src="../../assets/icon/icon-team-black.svg">
    </div>
    <h4>{{teamData.name}}</h4>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="none">
    </ion-refresher-content>
  </ion-refresher>
  <div class="wallet-content" *ngIf="userData && teamData">
    <ion-grid *ngIf="teamData">
      <ion-row style="justify-content: flex-end">
          <ion-icon name="more"></ion-icon>
      </ion-row>
      <ion-row >
        <span class="saldo">Team-Saldo</span>
        <ion-col padding class="team-balance" col-10>
          € {{teamData.balance}}
        </ion-col>
      </ion-row>
      <!--<ion-row *ngIf="userData && userData.balance">
        <span class="saldo">Mein Guthaben</span>
        <ion-col padding class="team-balance" col-12>
          € {{userData.balance}}
        </ion-col>
      </ion-row>-->
      <ion-row *ngIf="userData && !userData.balance">
        <span class="saldo">Mein Guthaben</span>
        <ion-col padding class="team-balance" col-12>
          € 0
        </ion-col>
      </ion-row>
      <ion-row class="team-member" *ngIf="teamUser">
        <!--<div class="line"></div>-->
        <div class="team-h">Mitglieder</div>
        <!--<div class="line"></div>-->
      </ion-row>
      <ion-row padding-top class="team-member-list" *ngIf="teamUser">
        <ion-col col-3 *ngFor="let user of teamUser">
          <div>
            <img class="profile-pic" src="../../assets/imgs/default-no-profile-pic.jpg">
          </div>
          <div>{{user.prename}}</div>
          <div>{{user.surname}}</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>



