page-profile-modal {
  ion-header {

  }

  ion-content {
    ion-row {
      &.member-profile-pic {
        justify-content: center;

        img.pic {
          width: 100px;
          height:100px;
          border-radius: 100%;
          border: 1px solid #909090;
        }
        .add {
          align-self: flex-end;
          right: 55%;
          height: 24px;
          width: 24px;
          position: absolute;
          background-color: #fff;
          display: flex;
          border-radius: 100%;
          justify-content: center;
          .add-img {
            position: absolute;
            display: block;
            width: 65%;
            margin: auto;
            align-self: center;
            text-align: center;
            color: #ffffff;
            font-size: 1.3em;
            font-weight:700;
          }
        }
      }
      form {
        width: 100%;
        ion-item {
          padding: 0 !important;

          ::placeholder {
            font-size: 14px;
          }
        }
      }
    }
  }
}
