<ion-header>
  <ion-navbar>
    <!--<ion-buttons start>-->
      <!--<button (click)="dismiss()">-->
        <!--<ion-icon name="arrow-back"></ion-icon>-->
      <!--</button>-->
    <!--</ion-buttons>-->
    <ion-title>Profil bearbeiten</ion-title>
    <ion-buttons end>
      <button type="submit" (click)="updateUser()">
        <span>fertig</span>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-row class="member-profile-pic">
      <img *ngIf="!userData.profile.profile_img" class="pic" src="assets/imgs/default-no-profile-pic.jpg" (tap)="setProfileImg()">
      <img *ngIf="userData.profile.profile_img" class="pic" [src]="userData.profile.profile_img" (tap)="setProfileImg()">
  </ion-row>
  <ion-row>
    <form>
    <ion-list class="event-list">
      <ion-list-header>
        Über dich
      </ion-list-header>
      <ion-item>
        <ion-input [(ngModel)]="userData.email" name="email" type="email" placeholder="Email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="userData.prename" name="prename" type="text" placeholder="Vorname"></ion-input>
      </ion-item>
      <ion-item>
          <ion-input [(ngModel)]="userData.surname" name="surname" type="text" placeholder="Nachname"></ion-input>
        </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="userData.back_number" name="back_number" type="text" placeholder="Rückennummer"></ion-input>
      </ion-item>
      </ion-list>
    </form>
  </ion-row>
</ion-content>
