<!--
  Generated template for the AccountPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title></ion-title>
    <ion-buttons end>
      <button (tap)="goToPaymentList()">
        <ion-icon name="ios-add-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-spinner *ngIf="!bankAccountDetailsLoaded"></ion-spinner>

  <ion-grid *ngIf="bankAccountDetailsLoaded">
    <ion-row class="bank-account-container">
      <h1>Bankkonten</h1>
      <ion-slides>
        <ion-slide class="bank-account-details" *ngFor="let bankAccount of bankAccountData">
          <div class="bank-account-wrapper">
            <div class="bank-name">
              {{ bankAccount.bank_name }}
            </div>
            <div class="bank-account-holder">
              {{ bankAccount.account_holder_name }}
            </div>
            <div class="bank-iban">
              <div class="detail-h">IBAN</div>
              **** **** **** **** **{{ bankAccount.last4 }}
            </div>
          </div>
        </ion-slide>
      </ion-slides>
    </ion-row>

  </ion-grid>

</ion-content>
