
<ion-header no-border>
  <ion-navbar padding-right>
    <ion-title class="title-h">Ausflüge</ion-title>
    <ion-buttons end *ngIf="userData.admin">
      <button>
        <ion-icon name="ios-search-outline"></ion-icon>
      </button>
      <button  (click)="goToAddEvent()">
        <ion-icon name="ios-add-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>


</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="none">
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-list *ngIf="eventArr">
      <ion-item *ngFor="let event of eventArr" (tap)="goToDetail(event)" detail-push>
        <ion-row>
          <ion-col class="event-info" col-6>
            <div class="item-h">{{event.name}}</div>
            <div class="item-sub">
              Ort: {{event.location}}
            </div>
          </ion-col>
          <ion-col class="event-sum" col-6>
            € {{event.sum}}
          </ion-col>
        </ion-row>
        <ion-row class="event-date">
          <ion-icon name="ios-calendar-outline"></ion-icon>
          <div class="date">{{event.startDate}}</div>
        </ion-row>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>
