
<ion-header no-border>
  <ion-navbar padding-right>
    <ion-title class="title-h">Ausflüge</ion-title>
    <ion-buttons end>
      <button>
        <ion-icon name="ios-search-outline"></ion-icon>
      </button>
      <button *ngIf="userData.admin" (click)="goToAddEvent()">
        <ion-icon name="ios-add-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>


</ion-header>

<ion-content no-bounce>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="none">
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-list *ngIf="eventArr">
      <ion-item *ngFor="let event of eventArr" (tap)="goToDetail(event)">
            <ion-row>
              <ion-col col-6 class="text-left event-name">
                {{event.name}}
              </ion-col>
              <ion-col col-6 class="text-right event-start">
                {{event.startDate}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-6 class="text-left event-location">
                {{event.location}}
              </ion-col>
              <ion-col col-6 class="text-right event-sum">
                € {{event.sum}}
              </ion-col>
            </ion-row>

      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>
