page-events {
  ion-header {
    //margin-top: 30px !important;
    ion-title {
      //padding-left: 0 !important;
      &.title-h {
        .toolbar-title {
          color: #2ad48a;
          /*font-size: 15px !important;
          font-weight: 400 !important;
          color: #488aff;
          text-align: left;
          padding-left: 16px !important;*/
        }
      }
    }
    ion-navbar {
      .button-outline {
        color: #488aff !important;
      }
      .toolbar-background {
        //background-color: transparent !important;
      }
      ion-buttons {
        display: flex;
      }
      ion-icon {
        &[name="ios-add-outline"] {
          font-size: 2.5em !important;
          margin-left: 5px;
        }

        &[name="ios-search-outline"] {
          font-size: 1.9em !important;
        }
      }
    }
    .title-sub {
      text-align: left;
      padding: 0 20px;
      font-size: 32px;
      font-weight: 700 !important;
    }
  }

  .scroll-content {
    background-color: #F3F3F3 !important;
  }

  ion-content {
    //background: linear-gradient(rgba(240, 98, 146, 0.49), rgba(239, 83, 80, 0.49));

    ion-refresher {

    }

    .list-ios > .item-block:first-child {
      border-top: none !important;
    }

    ion-grid {
      padding-top: 10px !important;
      ion-list {
        font-weight: 400;

        ion-item {
          .col {
            padding: 2px !important;
          }
          border-radius: 5px;
          box-shadow: -1px 1px 5px 0px rgba(0,0,0,0.13) !important;
          margin-bottom: 5px !important;
          font-weight: 700 !important;
          color: #484848 !important;
          letter-spacing: -0.3px;
          .item-inner {
            border-bottom: none !important;

            .event-name {
              font-size: 19px;
            }

            .event-start {
              font-weight: 400 !important;
              font-size: 16px;
            }

            .event-location {
              font-size: 14px;
              font-weight: 400;
              color: #C2C2C2;
            }

            .event-sum {
              font-size: 16px;
              font-weight: 400 !important;
            }
          }
        }
      }
    }
  }
}
